<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
		<services>
			<service name="EveInternetManager.EveInternetManagerService">
				<endpoint address="rest" binding="webHttpBinding" contract="EveInternetManager.IEveInternetManagerService" />
				<endpoint address="soap" binding="wsHttpBinding" contract="EveInternetManager.IEveInternetManagerService" />
				<endpoint address="bhttp" binding="basicHttpBinding" contract="EveInternetManager.IEveInternetManagerService" />
			</service>
		</services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Set to false on deploy -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
