<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISpeechService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:41250/API/Speech/API/Speech/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISpeechService"
                contract="Eve.API.Services.ISpeechService" name="WSHttpBinding_ISpeechService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>