<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<customErrors mode="Off"/>
		<trust level="Full" />
		<httpRuntime/>
	</system.web>
	<system.serviceModel>
		
		<bindings>
			<wsDualHttpBinding>
				<binding name="WSDualHttpBinding">
					<security mode="None"/>
				</binding>
			</wsDualHttpBinding>
		</bindings>
		
		<services>
			
			<service name="Eve.API.Services.Relay.RemoteRelayService">
				<endpoint address="http://192.168.1.101:64410/eve/relay/RemoteRelayService.svc" binding="basicHttpBinding" contract="Eve.API.Services.Contracts.IEveAPIService"/>
			</service>
			
			<service name="Eve.API.Services.Relay.ClientRelayService">
				<endpoint address="http://192.168.1.101:64410/eve/relay/ClientRelayService.svc" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding" contract="Eve.API.Services.Contracts.IClientRelayService"/>
			</service>
		
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- TODO Set to false on deploy -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="wsHttpBinding" scheme="http"/>
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="1" multipleSiteBindingsEnabled="false"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!-- TODO Set to false on deploy -->
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>