<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<customErrors mode="Off"/>
		<trust level="Full" />
		<httpRuntime/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<wsDualHttpBinding>
				<binding name="WSDualHttpBinding"
								 receiveTimeout="00:01:00">
					<security mode="None"/>
				</binding>
			</wsDualHttpBinding>
			<basicHttpBinding>
				<binding name="BasicHttpBinding" 
								 receiveTimeout="00:01:00">
				</binding>
			</basicHttpBinding>
		</bindings>

		<services>
			
			<service name="Eve.API.Services.Relay.RemoteRelayService">
				<endpoint address="http://evevm.cloudapp.net:64410/eve/relay/RemoteRelayService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="Eve.API.Services.Contracts.IEveAPIService"/>
				<endpoint address="http://evevm.cloudapp.net:64410/eve/relay/RemoteRelayService.svc/rest/" behaviorConfiguration="remoteREST" binding="webHttpBinding" contract="Eve.API.Services.Contracts.IEveAPIService" />
				<endpoint name="mexHttpBinding"
                   contract="IMetadataExchange"
                   binding="mexHttpBinding"
                   address="mex" />
			</service>
			
			<service name="Eve.API.Services.Relay.ClientRelayService">
				<endpoint address="http://evevm.cloudapp.net:64410/eve/relay/ClientRelayService.svc" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding" contract="Eve.API.Services.Contracts.IClientRelayService"/>
				<endpoint name="mexHttpBinding"
                   contract="IMetadataExchange"
                   binding="mexHttpBinding"
                   address="mex" />
			</service>
		
		</services>
		<behaviors>
			
			<endpointBehaviors>
				<behavior name="remoteREST">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			
			<serviceBehaviors>
				<behavior>
					<!-- TODO Set to false on deploy -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
			
		</behaviors>
		<protocolMapping>
			<add binding="wsHttpBinding" scheme="http"/>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="1" multipleSiteBindingsEnabled="false"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!-- TODO Set to false on deploy -->
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>