<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<customErrors mode="Off"/>
		<trust level="Full" />
		<httpRuntime/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="tcpBinding" transferMode="Streamed" portSharingEnabled="true">
					<reliableSession enabled="true" />
					<security mode="None">
						<transport clientCredentialType="None" protectionLevel="None" />
						<message clientCredentialType="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>

		<services>
			
			<service name="Eve.API.Services.Relay.RemoteRelayService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:64410/eve/relay/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="Eve.API.Services.Contracts.Services.Interfaces.IEveAPIService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			
			<service name="Eve.API.Services.Relay.RelayService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost/eve/relay/ClientRelayService.svc"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="Eve.API.Services.Contracts.Services.Interfaces.IRelayService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
			</service>
		
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- TODO Set to false on deploy -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="1" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!-- TODO Set to false on deploy -->
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>