html {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	background-color: #DEDEDE;
	color: black;
}

a > img { border: 0; }

.Header {
	position: relative;
	width: 100%;
	height: 348px;
	background-color: #222;
	color: #DDD;
}

.EveCommand {
	display: table;
	margin: auto;
	font-family: Courier;
	color: #00D000;
	font-size: 2.3em;
}

.HeaderShadow {
	height: 21px;
	background: url(Resources/Images/HeaderShadow.png) 50% 0 no-repeat;
	background-color: #EBEBEB;
}

.CenteredLogo {
	margin: auto;
	width: 256px;
	height: 256px;
}

.Content {
	background-color: #EBEBEB;
}

.Post {
	width: 520px;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 50px;
}

.PostText {
	font-size: 1.1em;
	max-width: 200px;
	display: inline-block;
}

.PostImage {
	display: inline-block;
	border: 1px #666 solid;
	-webkit-box-shadow: 3px 3px 20px #AAA;
	box-shadow: 3px 3px 20px #AAA;
}

.PostFooter {
	font-size: 0.8em;
	color: #888;
}

.FooterShadow {
	background: url(Resources/Images/HeaderShadow.png) 50% 0 no-repeat;
	height: 21px;
}

.Footer {

}

.SponsorLinks {
	margin: auto;
	max-width: 600px;
}
	.SponsorLinks > div {
		display: table;
		margin: auto;
	}
	.SponsorLinks > div > a > img {
		margin: 10px 20px;		
	}

.FooterEnd {
	display: table;
	margin: auto;
}
