<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
		<customErrors mode="Off"/>
		<trust level="Full" />
	</system.web>
  <system.serviceModel>

		<bindings>
			<wsDualHttpBinding>
				<binding name="WSDualHttpBinding">
					<security mode="None" />
				</binding>
			</wsDualHttpBinding>
		</bindings>
		
		<services>
			<service name="EveRelay.RelayService">
				<host>
          <baseAddresses>
            <add baseAddress="http://localhost:14004/"/>
          </baseAddresses>
        </host>
				<endpoint address="/Client/" 
									binding="wsDualHttpBinding" 
									bindingConfiguration="WSDualHttpBinding"
									contract="Eve.API.Services.Contracts.Services.Interfaces.IRelayService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
			
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- TODO Set to false on deploy -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!-- TODO Set to false on deploy -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>